/* ----- Setup ----- */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*------------ General -----------*/

html {
    font-size: 125%;
}

h1, h2, h3, h4, ul, li, a, p, nav, span {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
    display: block;
}

/*------------ Header -----------*/
body {
    max-width: 1800px;
    margin: 0 auto;
}
header {
    background-image: url(../assets/header/backgroundSm.jpg);
    background-position: center;
    min-height: 100vh;
    max-width: 2000px;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
}

.container {
    max-width: 1080px;
    width: 84%;
    margin: 0 auto;
}

.headerNav {
    padding-top: 20px;
}

.logo {
    font-family: 'Cormorant Garamond';
    color: white;
    font-size: 3rem;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
    float: left;
}

/* -- Navigation Starts -- */

.navigation {
    width: 427px;
    float: right;
    margin: 0 auto;
    transform: translateY(50%);
}

.navigation a {
    font-family: 'Catamaran', sans-serif;
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    float: left;
    margin: 0 5%;
}

.navigation a:first-child {
    margin-left: 0;
} 

.navigation a:last-child {
    margin-right: 0;
} 

.navigation a span {   
    color: white;
}

/* -- Navigation Ends -- */
/* -- Main Title Starts -- */

.mainTitle {
    text-transform: uppercase;
    width: 100%;
    margin-top: 20vh;
    text-align: center;
}

.mainTitle span {
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    width: 100%;
    line-height: 70%;
    float: left; 
}

.mainTitle span:first-child {
    font-size: 12rem;
    font-style: italic;
}

.mainTitle span:last-child {
    font-size: 6rem;
    clear: both;
}

/* -- Main Title Ends -- */
/* -- Social Media Starts -- */

.socialMedia {
    float: right;
    margin-top: 5%;
}

.socialMedia li {
    margin: .5rem;
    float: left;
    clear: both;
}

.socialMedia li a {
    color: white;
    font-size: 1rem;
    text-align: center;
    padding: .5rem;
}

.socialMedia li:nth-of-type(2) {
    margin-left: .6rem;
}

/* -- Social Media Ends -- */

/*------------ Header Style Ends -----------*/
/*------------ Main Style Starts -----------*/

.sectionTitle { 
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin: 50px auto 25px;
    width: 100%;
    float: left;
    border: 1px solid red;
}

.sectionTitle span {
    width: 100%;
    margin: 0 auto;
} 

.newsArticleImages div {
    float: left;
    width: calc((100% - 80px) / 3);
    margin: 25px 20px 50px;
    /* border: 1px solid red; */
}

.newsArticleImages div:first-child {
    margin-left: 0;
}

.newsArticleImages div:last-child {
    margin-right: 0;
    /* border: 1px solid blue; */
}

/*------------ Common Article Styles -----------*/


/*------------ Article 1 Style Starts -----------*/

.article1 {
    margin: 0 auto;
    position: relative;
}

.article1 .articleImage {
    width: calc(30% - 20px);
    margin-right: 20px;
    float: left;
}

.article1 .articleItem {
    width: calc(70% - 20px);
    /* margin-top: 15px; */
    margin-left: 20px;
    float: left;
    /* border: 1px solid red; */
}

.article1 .articleItem h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
    font-weight: 600;
    line-height: .9;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.article1 .articleItem p {
    font-family: 'Roboto', serif;
    font-size: .8rem;
    font-weight: 300;
    line-height: 1.8;
}

.article1 button {
    font-family: 'Cormorant Garamond', serif;
    font-size: .7rem;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    background: rgba(24, 51, 153, 0.78);
    border: none;
    margin-top: 25px;
    padding: 15px 30px;
    display: block;
    /* border: 1px solid red; */
}

/*------------ Article 1 Style Ends -----------*/
/*------------ Article 2 Style Starts -----------*/

.article2 {
    margin-top: 5%;
}
.article2 .articleItem2 {
    width: calc(50% - 80px);
    float: left;
    margin-top: 50px;
    margin-right: 80px;
}

.articleItem2 h2 {
    width: 60%;
    font-family: 'Cormorant Garamond';
    font-size: 1.75rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.9rem;
    padding-bottom: 1rem;
    float: left;
}

.articleItem2 p {
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
    font-weight: 300;
    line-height: 1.8;
    float: left;
    clear: both;
    
}

.articleItem2 button,
.articleItem3 button {
    font-family: 'Cormorant Garamond', serif;
    font-size: .7rem;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    background: rgba(24, 51, 153, 0.78);
    border: none;
    margin-top: 35px;;
    padding: 15px 30px;
    display: block;
    float: left;
    clear: both;
}

.article2 img {
    width: 50%;
    float: right;
}

/*------------ Article 3 Style Starts -----------*/

.article3 img {
    width: 50%;
    float: left;
}

.article3 .articleItem3 {
    width: calc(50% - 80px);
    float: right;
    margin-top: 50px;
    margin-left: 80px;
    /* border: 1px solid red; */
}

.articleItem3 h2 {
    width: 100%;
    font-family: 'Cormorant Garamond';
    font-size: 1.7rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.9rem;
    padding-bottom: 1rem;
}

.articleItem3 p {
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
    font-weight: 300;
    line-height: 1.8;
    float: left;
    clear: both;
}

/*------------ Article 3 Style Ends -----------*/
/*------------ Brand Community Event Style Starts -----------*/

section.iconLink {
    background: url(../assets/footer/footerMd.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.iconLinkContainer {
    max-width: 1000px;
    width: 65%;
    height: 300px;
    margin: 0 auto;
    padding: 5% 0 0 0;
    /* border: 1px solid red; */
}

.iconLinkItem {
    color: white;
    float: left;
    font-size: 1.5rem;
    text-align: center;
    /* border: 1px solid red; */
    width: calc((100% - 60px) / 3);
    margin: 25px 15px 0;
}

.iconLinkItem:first-child {
    margin-left: 0;
}

.iconLinkItem:last-child {
    margin-right: 0;
}

.iconLinkItem span {
    font-size: 1.2rem;
    float: left;
    width: 100%;
    margin: 0 auto;
    padding: 2% 0;
}

.iconLink a {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    width: 100%;
}

/*------------ Brand Community Event Style Ends -----------*/

/*------------ Footer Style Starts -----------*/

.mainFooter {
    background: #e3e3e3;
    /* height: 300px; */
}

.mainFooter .container {
    padding: 5% 0 5%;
    /* border: 1px solid red; */
}

.mainFooter h3 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    /* border: 1px solid cadetblue; */

}

.mainFooter p, .mainFooter span {
    font-family: 'Roboto', sans-serif;
    font-weight: 300px;
    font-size: 0.8rem;
    /* border: 1px solid crimson; */
}

.subscribe {
    float: left;
    width: calc(50% - 75px);
    margin-right: 75px;
    /* border: 1px solid red; */
}

.subscribe p {
    padding: 10px 0 10px;
}

.subscribe input {
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
    height: 48.5px;
    width: calc(75% - 30px);
    float: left;
    padding-left: 30px;
    border: none;
}

.subscribe button {
    font-family: 'Cormorant Garamond', serif;
    font-size: .7rem;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    background: black;
    border: none;
    padding: 15px 30px;
    display: block;
    float: left;
    /* width: 25%; */
    text-align: center;
    /* border: 1px solid red; */
}
/*------------ Contact Styles Starts  -----------*/

.contact {
    width: calc(40% - 150px);
    margin: 0 75px;
    float: left;
    /* border: 1px solid red; */
}

.contact h3 {
    margin-bottom: 10px;
}

.contact span {
    font-size: .8rem;
    padding: 5px 0;
    float: left;
    clear: both;
}

.contact span:nth-of-type(3) {
    padding-bottom: 0;
}

/*------------ Contact Styles Ends -----------*/

.footerNav {
    width: calc(10% - 75px);
    line-height: 5px;
    margin-left: 75px;
    float: right;
}

.footerNavItem {
    font-family: 'Catamaran', sans-serif;
    font-size: .8rem;
    text-transform: uppercase;
    float: right;
    clear: both;
    /* border: 1px solid cadetblue; */
}

.footerNavItem a {
    color: black;
    text-align: right;
    line-height: 2;
    letter-spacing: 1px;
    /* border: 1px solid red; */
}

/*------------ Footer Style Ends -----------*/

.copyrightFooter {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
    color: black;
    background: #acacac;
    padding: 15px 0;
    text-align: center;
}

.copyrightFooter i {
    font-size: .8rem;
}
