/* ----- Setup ----- */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* ---- Setup Ends ---- */

/*------------ General Style Starts-----------*/

html {
    font-size: 125%;
}

h1, h2, h3, h4, ul, li, a, p, nav, span {
    padding: 0;
    margin: 0;
}

h2, h3,
button,
.logo, .mainTitle, 
.sectionTitle, 
.iconLink,
.mainFooter {
    font-family: 'Cormorant Garamond', serif;
}

p, input,
.copyrightFooter,
.contact span,
.footerNav a
 {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
    display: block;
}

body {
    max-width: 1800px;
    margin: 0 auto;
}

/*------------ General Styles End -----------*/

/*------------ Container Style Starts-----------*/

.container {
    max-width: 1080px;
    width: 84%;
    margin: 0 auto;
}

@media (max-width: 1010px) {
    .container {
        width: 90%;
    }
}

/*------------ Container Style Ends -----------*/

/*------------ Header Styles Start -----------*/

header {
    background-image: url(../assets/header/backgroundLrg.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    max-width: 2000px;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
}

.headerNav {
    padding-top: 20px;
}

@media (max-width: 700px) {
    header {
        background-image: url(../assets/header/backgroundMobileLrg.jpg);
        background-position: center, -100px;
    }
}

@media (max-width: 500px) {
    header {
        background-image: url(../assets/header/backgroundMobileMd.jpg);
    }
}

/*------------ Header Style End -----------*/

/*------------ Logo Style Starts -----------*/

.logo {
    color: white;
    font-size: 3rem;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
    float: left;
}

@media (max-width: 700px) {
    .logo {
        display: none;
    }
}

/*------------ Logo Style Ends -----------*/

/*------------ Navigation Style Starts -----------*/

.navigation {
    width: 353px;
    float: right;
    margin: 0 auto;
    transform: translateY(50%);
    /* border: 1px solid blue; */
}

.navigation a {
    font-family: 'Catamaran', sans-serif;
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    float: left;
    margin: 0 5%;
    /* border: 1px solid red; */
}

.navigation a:first-child {
    margin-left: 0;
} 

.navigation a:last-child {
    margin-right: 0;
}

.navigation a span {   
    color: white;
}

.hamburger {
    display: none;
}

@media (max-width: 700px) {
    .navigation {
        display: none;
    }

    .hamburger {
        display: block;
        float:right;
        color: white;
        font-size: 2rem;
    }
}

/*------------ Navigation Style Ends -----------*/

/*------------ Title Style Starts -----------*/

.mainTitle {
    text-transform: uppercase;
    width: 100%;
    margin-top: 20vh;
    text-align: center;
}

.mainTitle span {
    color: white;
    font-weight: 600;
    width: 100%;
    line-height: 70%;
    float: left; 
}

.mainTitle span:first-child {
    font-size: 12rem;
    font-style: italic;
}

.mainTitle span:last-child {
    font-size: 6rem;
    clear: both;
}

@media (max-width: 700px) {
    .mainTitle {
        margin-top: 26vh;
    }
    .mainTitle span:first-child {
        font-size: 10rem;
    }
    .mainTitle span:last-child {
        font-size: 5rem;
    }

}

@media (max-width: 550px) {
    .mainTitle {
        margin-top: 30vh;
    }
    .mainTitle span:first-child {
        font-size: 8rem;
    }
    .mainTitle span:last-child {
        font-size: 4.5rem;
    }
}

@media (max-width: 490px) {
    .mainTitle {
        margin-top: 32vh;
    }
    .mainTitle span:first-child {
        font-size: 7rem;
    }
    .mainTitle span:last-child {
        font-size: 4rem;
    }

}

@media (max-width: 420px) {
    .mainTitle {
        margin-top: 35vh;
    }
    .mainTitle span:first-child {
        font-size: 6rem;
    }
    .mainTitle span:last-child {
        font-size: 3.5rem;
    }

}

/*------------ Title Style Ends -----------*/

/*------------ Social Media Style Starts -----------*/

.socialMedia {
    float: right;
    margin-top: 80px;
}

.socialMedia li {
    margin: .5rem;
    float: left;
    clear: both;
}

.socialMedia li a {
    color: white;
    font-size: 1rem;
    text-align: center;
    padding: .5rem;
}

.socialMedia li:nth-of-type(2) {
    margin-left: .6rem;
}

@media (max-width: 850px) {
    .socialMedia {
        display: none;
    }
}

/*------------ Social Media Style Ends -----------*/

/*------------ Article Title / Image Style Starts -----------*/

.sectionTitle { 
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin: 70px auto 70px;
    width: 100%;
    float: left;
}

.sectionTitle span {
    width: 100%;
    margin: 0 auto;
} 

.newsArticleImages div {
    float: left;
    width: calc((100% - 80px) / 3);
    margin: 0 20px 0;
}

.newsArticleImages div:first-child {
    margin-left: 0;
}

.newsArticleImages div:last-child {
    margin-right: 0;
}

@media (max-width: 1010px) {
    .newsArticleImages div:nth-child(-n+1) {
        width: calc(50% - 2%); 
        margin-right: 2%;
    }
    .newsArticleImages div:nth-child(2) {
        width: calc(50% - 2%);
        margin-left: 2%;
        margin-right: 0;
    }
    .newsArticleImages div:nth-child(3) {
        display: none;
    }
}

/*------------ Article Title / Image Style Ends -----------*/

/*------------  General Article Styles -----------*/

.articleItem h2,
.articleItem2 h2,
.articleItem3 h2 {
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.2;
    padding-bottom: 10px;
    text-transform: uppercase;
    float: left;
}

@media (max-width: 1000px) {
    .articleItem h2,
    .articleItem2 h2,
    .articleItem3 h2 {
        font-size: 1.4rem;
    }
}
@media (max-width: 600px) {
    .articleItem h2,
    .articleItem2 h2,
    .articleItem3 h2 {
        font-size: 1.4rem;
        width: 90%;
    }
}

@media (max-width: 500px) {
    .articleItem h2,
    .articleItem2 h2,
    .articleItem3 h2 {
        font-size: 1.2rem;
        width: 90%;
        margin: 0 0 10%;
    }
}

/*------------ General Article Style Ends -----------*/

/*------------ Button Style Starts -----------*/

.articleItem button,
.articleItem2 button,
.articleItem3 button {
    font-size: .7rem;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    background: rgba(24, 51, 153, 0.78);
    border: none;
    margin-top: 35px;
    padding: 15px 30px;
    display: block;
    float: left;
    clear: both;
}

.articleItem button {
    margin-top: 0;
}


@media (max-width: 1100px) {
    .articleItem2 button,
    .articleItem3 button {
        margin: 35px auto 0;
        float: none;
    }
}

@media (max-width: 1100px) {
    .articleItem button {
        margin: 0 auto 0;
    }
}

@media (max-width: 1010px) {
    .articleItem button {
        margin: 35px auto 0;
        float: none;
    }
}

/*------------ Button Style Ends -----------*/

/*------------ Article 1 Style Starts -----------*/

.article1 {
    margin: 10% auto 0;
    position: relative;
}

.article1 p {
    float: left;
    margin-bottom: 35px;
}

.article1 .articleImage {
    width: calc(30% - 20px);
    margin-right: 20px;
    float: left;
}

.article1 .articleImageMd {
    display: none;
}

.article1 .articleImageLrg {
    display: none;
}

.article1 .articleItem {
    width: calc(70% - 20px);
    margin-left: 20px;
    float: left;
}

.article1 .articleItem p {
    font-size: .8rem;
    font-weight: 300;
    line-height: 1.8;
}

@media (max-width: 1190px) {
    .article1 .articleImage {   
       display: none;
    }
    .article1 .articleItem {
        width: calc(50% - 20px);
        margin: 10px 0 0 20px;
    }

    .article1 .articleImageMd {
        display: block;
        float: left;
        width: calc(50% - 20px); 
        margin-right: 20px;
    }

}

@media (max-width: 1010px) {
    .article1 .articleImageMd {
        display: none;
    }

    .article1 .articleImageLrg {
        float: none;
        display: block;
        width: 90%;
        margin: 0 auto 10%;
    }

    .article1 .articleItem {
        width: 80%;
        float: none;
        margin: 0 auto;
    }
    .article1 h2 {
        float: none;
        margin: 0 auto;
        text-align: center;
    }
}

/*------------ Article 1 Style Ends -----------*/

/*------------ Article 2 Style Starts -----------*/

.article2 {
    margin-top: 8%;
}

.articleImageMobile {
    display: none;
}

.articleItem2 {
    width: calc(50% - 80px);
    float: left;
    margin-top: 6%;
    margin-right: 80px;
}

.articleItem2 h2 {
    width: 75%;
    float: left;
}

.articleItem2 p {
    font-size: .8rem;
    font-weight: 300;
    line-height: 1.8;
    float: left;
    clear: both;
    
}

.article2 img {
    width: 50%;
    float: right;
}

@media (max-width: 1150px) {
    .articleItem2  {
        margin-top: 3%;
    }
    .articleItem2 h2 {
        width: 90%;
    }
}

@media (max-width: 1100px) {
    .article2 {
        margin: 10% 0;
    }

    .article2 .articleImage {
        display: none;
    }
     .article2 .articleImageMobile {
        width: 100%;
        display: block;
    }
    .article2 .articleImageMobile img {
        width: 100%;
        display: block;
        margin-bottom: 9%;
    }

    .article2 .articleItem2 {
        width: 100%;
        float: none;
        text-align: center;
    }

    .article2 .articleItem2 h2 {
        width: 90%;
        margin: 0 5%;
        text-align: center;
    }

    .article2 .articleItem2 p {
        width: 80%;
        margin: 0 auto;
        float: none;
    }
}

@media (max-width: 500px) {
    .article2 {
        margin: 15% 0;
    }
    .article2 .articleImageMobile img {
        margin-bottom: 13%;
    }
}

/*------------ Article 2 Style Ends -----------*/

/*------------ Article 3 Style Starts -----------*/

.article3 img {
    width: 50%;
    float: left;
}

.article3 .articleImageMobile {
    display: none;
}

.article3 .articleItem3 {
    width: calc(50% - 80px);
    float: right;
    margin-top: 5%;
    margin-left: 80px;
}

.articleItem3 h2 {
    width: 100%;
}

.articleItem3 p {
    font-size: .8rem;
    font-weight: 300;
    line-height: 1.8;
    float: left;
    clear: both;
}

@media (max-width: 1190px) {
    .article3 .articleItem3 {
        margin-top: 2.5%;
    }
}

@media (max-width: 1150px) {
    .article3 .articleItem3 {
        margin-top: 1%;
    }
}

@media (max-width: 1100px) {
    .article3 {
        margin: 10% auto;
    }

    .article3 .articleImage {
        display: none;
    }
     .article3 .articleImageMobile {
        width: 100%;
        display: block;
    }
    .article3 .articleImageMobile img {
        width: 100%;
        display: block;
        margin-bottom: 9%;
    }

    .article3 .articleItem3 {
        width: 100%;
        float: none;
        margin: 10% auto 0;
        text-align: center;
    }

    .article3 .articleItem3 h2 {
        width: 80%;
        margin: 0 10%;
        text-align: center;
    }

    .article3 .articleItem3 p {
        width: 80%;
        margin: 0 auto;
        float: none;
    }
}

@media (max-width: 500px) {
    .article3 {
        margin: 15% 0;
    }

    .article3 .articleItem3 h2 {
        width: 90%;
        margin: 0 5%;
    }

    .article3 .articleImageMobile img {
        margin-bottom: 13%;
    }
}

/*------------ Article 3 Style Ends -----------*/

/*------------ Icon Link Style Starts -----------*/

section.iconLink {
    background: url(../assets/iconLinkBg/iconLinkBgLrg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.iconLinkContainer {
    max-width: 1200px;
    width: 65%;
    margin: 0 auto;
    padding: 10% 0 10%;
}

.iconLinkItem {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    width: calc((100% - 60px) / 3);
    margin: 0 15px 0;
    float: left;
}

.notMobile:nth-of-type(1) {
    margin-left: 0;
}

.iconLinkItem:last-child {
    margin-right: 0;
}

.iconLinkItem span {
    font-size: 1.2rem;
    float: left;
    width: 100%;
    margin: 0 auto;
    padding: 2% 0;
}

.iconLink a {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    padding: 0 30%;
}

.mobile {
    display: none;
}

@media (max-width: 1000px) {
    .iconLinkContainer {
        width: 80%;
    }
}

@media (max-width: 800px) {
    .iconLink span {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .iconLinkContainer {
        width: 90%;
    }

    .iconLink span {
        font-size: .9rem;
    }
}

@media (max-width: 520px) {
    section.iconLink {
        background: url(../assets/iconLinkBg/iconLinkMobileBgMd.jpg) no-repeat;
        background: cover;
        width: 100%;
        background-position: top right 50%;
    }

    .mobile {
        display: block;
    }

    .notMobile {
        display: none;
    }

    .iconLinkContainer {
        min-height: 100%;
    }

    .iconLinkItem {
        margin: 12% auto;
        width: 100%;
        float: none;
    }

    .iconLinkItem a {
        font-size: 2.5rem;
        padding: 0 0;
    }

    .iconLinkItem .mobile {
         margin: auto
    } 

    .iconLinkItem:last-child span {
        padding-bottom: 0;
    }

    .iconLinkItem span {
        font-size: 1rem;
    }
}

@media (max-width: 400px) {
    section.iconLink {
        background: url(../assets/iconLinkBg/iconLinkMobileBgSm.jpg) no-repeat;
        background: cover;
        width: 100%;
        background-position: top right 50%;
    }

    .iconLinkContainer {
        padding: 6% 0 3%;
    }

     .iconLinkItem {
        padding-left: 0;
        padding-right: 0;
    }

    .iconLinkItem a {
        font-size: 2.1rem;
        display: block;
    }

    .iconLinkItem:nth-of-type(2) a span {
        text-align: center;
        font-size: 1rem;
    }
}

/*------------ Icon Links Style Ends -----------*/

/*------------ Footer Style Starts -----------*/

.mainFooter {
    background: #e3e3e3;
}

.mainFooter .container {
    padding: 5% 0;
}

.mainFooter h3 {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.mainFooter p, .mainFooter span {
    font-weight: 300px;
    font-size: 0.8rem;
}

@media (max-width: 800px) {
    .mainFooter .container {
        padding: 10% 0;
    }
}

/*------------ Footer: Subscribe Style Starts -----------*/

.subscribe {
    float: left;
    width: calc(50% - 10%);
    margin-right: 10%;
}

.subscribe p {
    padding: 10px 0 10px;
}

.subscribe input {
    font-size: .8rem;
    height: 47.5px;
    width: calc(78.9% - 10%);
    float: left;
    padding-left: 10%;
    border: none;
}

.subscribe button {
    font-size: .7rem;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    background: black;
    border: none;
    padding: 15px 30px;
    display: block;
    float: left;
    text-align: center;
}

@media (max-width: 1300px) {
    .subscribe {
        width: calc(49% - 5%);
        margin-right: 5%;
    } 
}

@media (max-width: 1200px) {
    .subscribe {
        width: calc(49% - 5%);
        margin-right: 2.5%;
    } 

    .subscribe p {
        font-size: .8rem;
    }
     .subscribe input {
        height: 40px;
        width: calc(78.9% - 10%);
    }
    .subscribe button {
        padding: 12px 5%;
    }
}

@media (max-width: 1000px) {
    .subscribe p {
        font-size: .7rem;
    }
    .subscribe input {
        font-size: .8rem;
        height: 40px;
        width: calc(78.9% - 10%);
        float: left;
        padding-left: 10%;
        border: none;
    }
    .subscribe button {
        padding: 12px 5%;
    }
}

@media (max-width: 900px) {
    .subscribe input {
        width: 68%;
    }
}

@media (max-width: 850px) {
    .subscribe input {
        width: 65%;
    }
}

@media (max-width: 800px) {
    .subContainer {
        max-width: 500px;
        width: 85%;
    }
    .subscribe {
        float: none;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }
    .subscribe input {
        float: none;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 0;
        color: black;
    }

    input::placeholder {
        color: black;
        opacity: 1;
    }

    .subscribe button {
        font-family: 'Catamaran', sans-serif;
        letter-spacing: 1px;
        float: none;
        width: 100%;
        margin: 0 auto;
    }
}

/*------------ Footer: Subscribe Style Ends -----------*/

/*------------ Footer: Contact Style Starts  -----------*/

.contact {
    width: calc(32% - 10%);
    margin: 0 5%;
    float: left;
}

.contact h3 {
    margin-bottom: 5px;
}

.contact span {
    font-size: .8rem;
    padding: 5px 0;
    float: left;
    clear: both;
}

.contact span:nth-of-type(3) {
    padding-bottom: 0;
}

@media (max-width: 1300px) {
    .contact {
        width: calc(29% - 5%);
        margin: 0 7%;
    }
}

@media (max-width: 1200px) {
    .contact {
        width: 22%;
        margin: 0 10%;
    }
    .contact span {
        font-size: .7rem;
    }
}

@media (max-width: 1000px) {
    .contact {
        width: 26%;
        margin: 0 8%;
    }
    .contact span {
        font-size: .7rem;
    }
}

@media (max-width: 900px) {
    .contact {
        width: 28%;
        margin: 0 7%;
    }
    .contact span {
        font-size: .7rem;
    }
}

@media (max-width: 850px) {
    .contact {
        width: 30%;
        margin: 0 6%;
    }
    .contact span {
        font-size: .7rem;
    }
}

@media (max-width: 800px) {

    .contact {
        margin: 0;
        width: 70%;
    }
    .contact h3 {
        font-size: 1rem;
        margin-top: 40px;
        margin-bottom: 10px;
    }
}

/*------------ Footer: Contact Style Ends  -----------*/

/*------------ Footer: Navigation Style Starts -----------*/

.footerNav {
    width: calc(13% - 5%);
    line-height: 5px;
    margin-left: 5%;
    float: right;
}

.footerNavItem {
    font-size: .8rem;
    text-transform: uppercase;
    float: right;
    clear: both;
}

.footerNavItem a {
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    color: black;
    text-align: right;
    line-height: 1.8;
    letter-spacing: 1px;
}

@media (max-width: 1300px) {
    .footerNav {
        width: calc(14% - 5%);
        margin-left: 2.5%;
    }
}

@media (max-width: 1100px) {
    .footerNav {
        width: calc(14% - 5%);
        margin-left: 2.5%;
    }

    .footerNavItem {
        margin: 2% 0;
    }
    .footerNavItem a {
        font-size: .7rem;
    }
}

@media (max-width: 800px) {
    .footerNav {
        float: right;
        width: 20%;
        margin-top: 30px;
    }

    .footerNavItem a {
        font-weight: 500;
    }
}

@media (max-width: 500px) {
    .footerNavItem {
        margin: 5% 0;
    }
}

/*------------ Footer: Navigation Style Ends-----------*/

/*------------ Copyright Style Starts -----------*/

.copyrightFooter {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
    color: black;
    background: #acacac;
    padding: 15px 0;
    text-align: center;
} 

/*------------ Copyright Style Ends -----------*/