/* ----- Setup ----- */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*------------ General -----------*/

html {
    font-size: 125%;
}

h1, h2, h3, h4, ul, li, a, p, nav, span {
    padding: 0;
    margin: 0;
}

/*------------ Fonts -----------*/

h2, h3,
button,
.logo, .mainTitle, 
.sectionTitle, 
.iconLink,
.mainFooter {
    font-family: 'Cormorant Garamond', serif;
}

p, input,
.copyrightFooter,
.contact span,
.footerNav a
 {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
    display: block;
}

/*------------ Header -----------*/
body {
    max-width: 1800px;
    margin: 0 auto;
}
header {
    background-image: url(../assets/header/backgroundLrg.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    max-width: 2000px;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
}

/* @media (max-width: 1010px) {
    header {
        width: 80%;
    }
} */

.container {
    max-width: 1080px;
    width: 84%;
    margin: 0 auto;
    /* border:1px solid red; */
}

@media (max-width: 1010px) {
    .container {
        width: 90%;
    }
}

.headerNav {
    padding-top: 20px;
}

.logo {
    color: white;
    font-size: 3rem;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
    float: left;
}

/* -- Navigation Starts -- */

.navigation {
    width: 353px;
    float: right;
    margin: 0 auto;
    transform: translateY(50%);
    /* border: 1px solid blue; */
}

.navigation a {
    font-family: 'Catamaran', sans-serif;
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    float: left;
    margin: 0 5%;
    /* border: 1px solid red; */
}

.navigation a:first-child {
    margin-left: 0;
} 

.navigation a:last-child {
    margin-right: 0;
}

.navigation a span {   
    color: white;
}

/* -- Navigation Ends -- */
/* -- Main Title Starts -- */

.mainTitle {
    text-transform: uppercase;
    width: 100%;
    margin-top: 20vh;
    text-align: center;
}

.mainTitle span {
    color: white;
    font-weight: 600;
    width: 100%;
    line-height: 70%;
    float: left; 
}

.mainTitle span:first-child {
    font-size: 12rem;
    font-style: italic;
}

.mainTitle span:last-child {
    font-size: 6rem;
    clear: both;
}

/* -- Main Title Ends -- */
/* -- Social Media Starts -- */

.socialMedia {
    float: right;
    margin-top: 80px;
}

.socialMedia li {
    margin: .5rem;
    float: left;
    clear: both;
}

.socialMedia li a {
    color: white;
    font-size: 1rem;
    text-align: center;
    padding: .5rem;
}

.socialMedia li:nth-of-type(2) {
    margin-left: .6rem;
}

/* -- Social Media Ends -- */

/*------------ Header Style Ends -----------*/
/*------------ Main Style Starts -----------*/

.sectionTitle { 
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin: 70px auto 70px;
    width: 100%;
    float: left;
}

.sectionTitle span {
    width: 100%;
    margin: 0 auto;
} 

.newsArticleImages div {
    float: left;
    width: calc((100% - 80px) / 3);
    margin: 0 20px 0;
}

.newsArticleImages div:first-child {
    margin-left: 0;
}

.newsArticleImages div:last-child {
    margin-right: 0;
}

@media (max-width: 1010px) {
    .newsArticleImages {
        margin-bottom: 10%;
    }
    .newsArticleImages div:nth-child(-n+1) {
        width: calc(50% - 20px); 
        margin-right: 20px;
    }
    .newsArticleImages div:nth-child(2) {
        width: calc(50% - 20px);
        margin-left: 20px;
        margin-right: 0;
    }
    .newsArticleImages div:nth-child(3) {
        display: none;
    }
}



/*------------  General Article Styles -----------*/

.articleItem h2,
.articleItem2 h2,
.articleItem3 h2 {
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.2;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.articleItem button,
.articleItem2 button,
.articleItem3 button {
    font-size: .7rem;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    background: rgba(24, 51, 153, 0.78);
    border: none;
    margin-top: 35px;;
    padding: 15px 30px;
    display: block;
    float: left;
    clear: both;
}

@media (max-width: 1100px) {
    .articleItem2 button,
    .articleItem3 button {
        margin: 35px auto 0;
        float: none;
    }
}

@media (max-width: 1010px) {
    .articleItem button {
        margin: 35px auto 0;
        float: none;
    }
}

/*------------ Article 1 Style Starts -----------*/

.article1 {
    margin: 70px auto 0;
    position: relative;
}

.article1 .articleImage {
    width: calc(30% - 20px);
    margin-right: 20px;
    float: left;
}

.article1 .articleItem {
    width: calc(70% - 20px);
    margin-left: 20px;
    float: left;
}

.article1 .articleItem p {
    font-size: .8rem;
    font-weight: 300;
    line-height: 1.8;
}

@media (max-width: 1190px) {
    .article1 .articleImage {
       width: calc(50% - 20px); 
       margin-right: 20px;
    }
    .article1 .articleItem {
        width: calc(50% - 20px);
        margin: 10px 0 0 20px;
    }

}

@media (max-width: 1010px) {
    .article1 .articleImage {
        width: 90%;
        margin: 0 auto 10%;
        float: none;
    }

    .article1 .articleItem {
        width: 80%;
        float: none;
        margin: 0 auto 10%;
    }
    .article1 h2 {
        float: none;
        margin: 0 auto;
        text-align: center;
    }
}


/*------------ Article 1 Style Ends -----------*/
/*------------ Article 2 Style Starts -----------*/

.article2 {
    margin-top: 8%;
}

.articleImageMobile {
    display: none;
}

.articleItem2 {
    width: calc(50% - 80px);
    float: left;
    margin-top: 5%;
    margin-right: 80px;
}

.articleItem2 h2 {
    width: 75%;
    float: left;
}

.articleItem2 p {
    font-size: .8rem;
    font-weight: 300;
    line-height: 1.8;
    float: left;
    clear: both;
    
}

.article2 img {
    width: 50%;
    float: right;
}

@media (max-width: 1120px) {
    /* .articleItem2  {
    } */
    .articleItem2 h2 {
        width: 90%;
        /* border: 1px solid red; */
    }
}

@media (max-width: 1100px) {
    .article2 .articleImage {
        display: none;
    }
     .article2 .articleImageMobile {
        width: 100%;
        display: block;
    }
    .article2 .articleImageMobile img {
        width: 100%;
        display: block;
        margin-bottom: 8%;
    }

    .article2 .articleItem2 {
        width: 100%;
        float: none;
        margin: 0 auto 10%;
        text-align: center;
    }

    .article2 .articleItem2 h2 {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        /* border: 1px solid red; */
    }

    .article2 .articleItem2 p {
        width: 80%;
        margin: 0 auto;
        float: none;
    }
}

/*------------ Article 3 Style Starts -----------*/

.article3 img {
    width: 50%;
    float: left;
}

.article3 .articleImageMobile {
    display: none;
}

.article3 .articleItem3 {
    width: calc(50% - 80px);
    float: right;
    margin-top: 5%;
    margin-left: 80px;
}

.articleItem3 h2 {
    width: 100%;
}

.articleItem3 p {
    font-size: .8rem;
    font-weight: 300;
    line-height: 1.8;
    float: left;
    clear: both;
}

@media (max-width: 1190px) {
    .article3 .articleItem3 {
        margin-top: 10px;
        /* border: 1px solid red; */
    }
}


@media (max-width: 1100px) {
    .article3 .articleImage {
        display: none;
    }
     .article3 .articleImageMobile {
        width: 100%;
        display: block;
    }
    .article3 .articleImageMobile img {
        width: 100%;
        display: block;
        margin-bottom: 10%;
    }

    .article3 .articleItem3 {
        width: 100%;
        float: none;
        margin: 10% auto;
        text-align: center;
    }

    .article3 .articleItem3 h2 {
        width: 80%;
        float: none;
        margin: auto;
        text-align: center;
    }

    .article3 .articleItem3 p {
        width: 80%;
        margin: 0 auto;
        float: none;
    }
}

/*------------ Article 3 Style Ends -----------*/
/*------------ Icon Link Style Starts -----------*/

section.iconLink {
    background: url(../assets/footer/footerLrg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.iconLinkContainer {
    max-width: 1200px;
    width: 65%;
    margin: 0 auto;
    padding: 10% 0 10%;
}

.iconLinkItem {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    width: calc((100% - 60px) / 3);
    margin: 0 15px 0;
    float: left;
    /* border: 1px solid red; */
}

.iconLinkItem:first-child {
    margin-left: 0;
}   

.iconLinkItem:last-child {
    margin-right: 0;
}

.iconLinkItem span {
    font-size: 1.2rem;
    float: left;
    width: 100%;
    margin: 0 auto;
    padding: 2% 0;
}

.iconLink a {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    padding: 0 30%;
}

@media (max-width: 1000px) {
    .iconLinkContainer {
        width: 80%;
    }
}

@media (max-width: 800px) {
    .iconLink span {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .iconLinkContainer {
        width: 90%;
    }

    .iconLink span {
        font-size: .9rem;
    }
}

@media (max-width: 520px) {
    section.iconLink {
        background: url(../assets/iconLinkBackground/iconLinkMobileBgMd.jpg) no-repeat;
        background: cover;
        width: 100%;
        background-position: top right 50%;

    }

    .iconLinkContainer {
        min-height: 100%;
        /* padding: 7% 0 7%; */
    }

    .iconLinkItem {
        margin: 12% auto;
        float: none;
    }

    .iconLinkItem a {
        font-size: 3rem;
    }

    .iconLinkItem:first-child,
    .iconLinkItem:last-child {
         margin: auto
    } 

    .iconLinkItem span {
        padding: 0;
    }
}
@media (max-width: 400px) {
    section.iconLink {
        background: url(../assets/iconLinkBackground/iconLinkMobileBgSm.jpg) no-repeat;
        background: cover;
        width: 100%;
        background-position: top right 50%;
        /* background-image: 50%; */
        /* height: 598px; */
    }
     .iconLinkItem a {
        font-size: 3rem;
        display: block;
    }

    .iconLinkItem {
        padding-left: 0;
        padding-right: 0;
    }
}

/*------------ Icon Links Style Ends -----------*/
/*------------ Footer Style Starts -----------*/

.mainFooter {
    background: #e3e3e3;
}

.mainFooter .container {
    padding: 5% 0 5%;
}

.mainFooter h3 {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.mainFooter p, .mainFooter span {
    font-weight: 300px;
    font-size: 0.8rem;
}

.subscribe {
    float: left;
    width: calc(50% - 75px);
    margin-right: 75px;
}

.subscribe p {
    padding: 10px 0 10px;
}

.subscribe input {
    font-size: .8rem;
    height: 47.5px;
    width: calc(75% - 30px);
    float: left;
    padding-left: 30px;
    border: none;
}

.subscribe button {
    font-size: .7rem;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    background: black;
    border: none;
    padding: 15px 30px;
    display: block;
    float: left;
    text-align: center;
}

/*------------ Contact Styles Starts  -----------*/

.contact {
    width: calc(40% - 150px);
    margin: 0 75px;
    float: left;
}

.contact h3 {
    margin-bottom: 10px;
}

.contact span {
    font-size: .8rem;
    padding: 5px 0;
    float: left;
    clear: both;
}

.contact span:nth-of-type(3) {
    padding-bottom: 0;
}

/*------------ Contact Styles Ends -----------*/

.footerNav {
    width: calc(10% - 75px);
    line-height: 5px;
    margin-left: 75px;
    float: right;
}

.footerNavItem {
    font-size: .8rem;
    text-transform: uppercase;
    float: right;
    clear: both;
}

.footerNavItem a {
    font-family: 'Catamaran', sans-serif;
    color: black;
    text-align: right;
    line-height: 1.8;
    letter-spacing: 1px;
}

/*------------ Footer Style Ends -----------*/
.copyrightFooter {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
    color: black;
    background: #acacac;
    padding: 15px 0;
    text-align: center;
} 